@import "src/styles/variables";
@import "src/styles/mediaMixin";

.Filter {
    width: 100%;
    margin: 30px 0 0;
    @include _768 {
        margin: 20px 0 0;
    }
    &-Buttons {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    &-Description {
        width: 100%;
        font-size: 14px;
        color: $mainColor;
        margin: 10px 0 0;
    }
}